html, body{
  margin: 0;
  padding:0;
  height: 100%; min-height:100%; max-height: 100%;
  overflow:hidden;
}
#old-site{
  background: #c00;
  color:#fff
  padding: 10px;
  position: fixed;
  bottom: 50px;
  left: 50%;
  border-radius: 4px;
}

#old-site a{
  color:#fff;
  text-decoration: none;
  padding: 20px;
  
}

#old-site a:hover{
  text-decoration: underline;
}
canvas{
 /*
 height: 100%;
  width: 100%;
*/
  margin: 0;
  padding: 0;
}
